@charset "UTF-8";
/* line 4, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 20, ../sass/screen.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 61, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp #content .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 62, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp #content .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 63, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 64, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 65, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 66, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 67, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 68, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 69, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 70, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 71, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 72, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 73, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 74, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 75, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 76, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 77, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 78, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  width: 100%;
}
/* line 79, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 80, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 81, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 0;
}
/* line 84, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 85, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 86, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 87, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 88, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 18, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
/* line 65, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}
/* line 39, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}
/* line 45, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}
/* line 47, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp form.inline {
  line-height: 3;
}
/* line 6, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp form.inline p {
  margin-bottom: 0;
}

/* line 36, ../sass/screen.scss */
body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 38, ../sass/screen.scss */
body.two-col #container #header, body.two-col #container #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #container #header, * html body.two-col #container #footer {
  overflow-x: hidden;
}
/* line 41, ../sass/screen.scss */
body.two-col #container #main #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
}
/* line 147, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #container #main #content {
  overflow-x: hidden;
}
/* line 49, ../sass/screen.scss */
body.two-col #container #main #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #container #main #sidebar {
  overflow-x: hidden;
}

/* line 1, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.bp {
  font-size: 100%;
}
/* line 3, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.bp a {
  text-decoration: none;
}
/* line 5, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.bp a:hover {
  text-decoration: underline;
}
/* line 9, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.bp h1 {
  font-size: 1.75em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 13, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.bp section {
  clear: both;
}

/* line 19, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container {
  width: 980px;
  background-image: url(/images/content.png);
  background-repeat: repeat-y;
}
/* line 23, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > header {
  background-image: url(/images/header.png);
  background-repeat: no-repeat;
  height: 309px;
}
/* line 27, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > header h1 {
  padding-left: 50px;
  padding-top: 65px;
  display: block;
  /*        font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 30px;
  font-weight: normal;
  color: #fff;
}
/* line 35, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > header h1 a {
  text-decoration: none;
}
/* line 38, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > header h1 span {
  font-size: 12px;
  display: block;
}
/* line 44, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > nav {
  background-image: url(/images/menu.png);
  background-repeat: no-repeat;
  height: 104px;
}
/* line 48, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > nav ul {
  margin: 0;
  list-style-type: none;
  padding: 12px 0 0 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: normal;
}
/* line 55, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > nav ul li {
  display: inline;
}
/* line 59, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > nav a {
  display: block;
  float: left;
  height: 46px;
  padding: 0 15px;
  color: #000;
  margin-right: 10px;
}
/* line 66, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > nav a:hover {
  text-decoration: none;
  background-image: url(/images/menuhvr.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #960;
}
/* line 75, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > footer {
  clear: both;
  margin: 15px 35px 0;
  border-top: 1px solid #d5d3b8;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 81, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container > footer p {
  font-size: 12px;
  display: block;
  padding: 0 25px;
  margin: 0;
}
/* line 88, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar {
  font-size: 90%;
}
/* line 90, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar section {
  margin-bottom: 15px;
}
/* line 93, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar .search {
  width: 296px;
  padding: 5px;
  font-size: 1.1em;
}
/* line 98, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar p {
  margin-bottom: .35em;
}
/* line 101, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar h1 {
  display: block;
  margin: 0 0 5px;
  padding: 5px;
  background-color: #d5d3b8;
  color: #fff;
}
/* line 108, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 115, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar .catlist ul li, body.two-col #container #sidebar .recpost ul li {
  display: block;
  border-bottom: 1px solid #dbc6a8;
}
/* line 118, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar .catlist ul li a, body.two-col #container #sidebar .recpost ul li a {
  display: block;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 5px;
  background-color: #efefcc;
  color: #000;
}
/* line 125, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar .catlist ul li a:hover, body.two-col #container #sidebar .recpost ul li a:hover {
  background-color: #fff;
  text-decoration: none;
}
/* line 133, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar #tweets a {
  float: right;
  margin: 0 0 5px 5px;
  color: #aaa;
}
/* line 138, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar .googleplus p {
  position: relative;
}
/* line 140, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar .googleplus p a {
  padding-left: 40px;
}
/* line 143, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #sidebar .googleplus p img {
  position: absolute;
  left: 0;
  top: -5px;
}
/* line 150, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #container #bottom {
  background-image: url(/images/footer.png);
  background-repeat: no-repeat;
  height: 12px;
  margin: 0px;
  padding: 0px;
}
/* line 158, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content {
  padding-left: 40px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px dotted #ccc;
}
/* line 163, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content article {
  padding-top: 2em;
  /*      border-top: 1px dotted #aaa; */
}
/* line 166, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content article:first-child {
  padding-top: 0;
}
/* line 169, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content article header {
  position: relative;
  padding-top: 2em;
  padding-bottom: 0;
  margin-bottom: 1.5em;
  display: block;
}
/* line 175, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content article header p {
  position: absolute;
  top: 0;
  color: #aaa;
  font-size: 80%;
}
/* line 182, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content article footer {
  margin-top: 1em;
  padding-bottom: 2.5em;
}
/* line 187, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content article + article {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") top left repeat-x;
}
/* line 190, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content .previous-article, body.two-col #content .next-article {
  display: block;
  width: 270px;
  font-size: 80%;
  margin-bottom: 25px;
  margin-top: 10px;
}
/* line 197, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content .previous-article {
  float: left;
}
/* line 200, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content .next-article {
  float: right;
  text-align: right;
}
/* line 204, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content .pagination {
  text-align: center;
  font-size: 95%;
  position: relative;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBI…TAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") top left repeat-x;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 211, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content .pagination a {
  color: #aaa;
}
/* line 213, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content .pagination a.prev {
  position: absolute;
  left: 0;
}
/* line 217, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content .pagination a.next {
  position: absolute;
  right: 0;
}
/* line 223, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content p.arab {
  direction: rtl;
  font-size: 22px;
  line-height: 36px;
}
/* line 228, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content #blog-archives {
  color: #aaa;
}
/* line 230, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content #blog-archives h2 {
  margin-bottom: .3em;
  font-weight: normal;
  display: inline-block;
  position: relative;
  top: -1px;
  float: left;
  font-size: 1.5em;
  color: #aaa;
}
/* line 240, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content #blog-archives article {
  display: block;
  padding: 1em 0 .5em 4.5em;
  margin-left: 5em;
  padding-top: .3em;
  position: relative;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") bottom left repeat-x;
}
/* line 247, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content #blog-archives article h1 {
  font-size: .85em;
  margin-bottom: .45em;
  line-height: 1.2em;
  font-weight: bold;
}
/* line 253, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content #blog-archives article footer {
  padding: 0;
  margin: 0;
  font-size: .85em;
  line-height: 1em;
  display: block;
}
/* line 261, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content #blog-archives time {
  position: absolute;
  text-align: right;
  left: 0;
  top: .5em;
  font-size: .9em;
  line-height: 1.2em;
}
/* line 268, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content #blog-archives time .day {
  display: inline-block;
}
/* line 271, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content #blog-archives time .month {
  display: inline-block;
  text-transform: uppercase;
}
/* line 275, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
body.two-col #content #blog-archives time .year {
  display: none;
}

/* line 283, /home/ubuntu/Documents/bluep/sass/partials/_custom.scss */
.separator, article footer .byline + time:before, article footer time + time:before, article footer .comments:before, article footer .byline ~ .categories:before {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}
